<!-- END MAIN CONTENT -->
<!-- FOOTER -->
<footer class="footer">
   <hr class="green-line"></hr>
   <div class="container">
      <section class="arguments">
      <div class="arguments__item">
         <img class="item__img img-responsive" src="img/icone_paiement.png" alt="">
         <p class="item__span">paiement sécurisé</p>
      </div>
      <div class="arguments__item">
         <img class="item__img img-responsive" src="img/icone_client.png" alt="">
         <div class="item__spanList">
            <p class="item__span">service client</p>
            <p class="item__span">01.02.03.04.05</p>
         </div>
      </div>
   </section>
   </div>
   <section class="footer_main">
         <section class="footer-list">
      <div class="item__list">
         <h4>informations</h4>
         <ul>
            <li><a href="" rel="nofollow" alt="">conditions générales de vente</a></li>
            <li><a href="" rel="nofollow" alt="">qui sommes-nous</a></li>
            <li><a href="" rel="nofollow" alt="">paiement en ligne</a></li>
            <li><a href="" rel="nofollow" alt="">livraison</a></li>
            <li><a href="" rel="nofollow" alt="">retour</a></li>
            <li><a href="" rel="nofollow" alt="">magasin</a></li>
         </ul>
      </div>
      <div class="item__list">
         <h4>mon compte</h4>
         <ul>
            <li><a href="" rel="nofollow" alt="">commandes</a></li>
            <li><a href="" rel="nofollow" alt="">retours</a></li>
            <li><a href="" rel="nofollow" alt="">avoirs</a></li>
            <li><a href="" rel="nofollow" alt="">adresses</a></li>
            <li><a href="" rel="nofollow" alt="">informations</a></li>
            <li><a href="" rel="nofollow" alt="">réductions</a></li>
            <li><a href="" rel="nofollow" alt="">récompenses</a></li>
         </ul>
      </div>
      <div class="item__list">
         <h4>boutique</h4>
         <p>fleur des champs,</p>
         <p>8 place du châtelet</p>
         <p>77160 - Provins, France</p>
         <p>+33 1640415981</p>
         <p>contact@fleurdeschamps.com</p>
      </div>
   </section>
         <section class="bottom-socials">
            <div class="green-line--bottom"></div>
            <div class="green-line--bottom--column"></div>
            <div class="fb_module"></div>
         </section>
   </section>
   <div class="container">
      <section class="footer">
      <div class="container">
         <section class="copyright">
            <p>© Fleurs des champs - 2017 - <a href="#" alt="">Mentions légales</a></p>
         </section>
      </div>
   </section>
   </div>
</footer>
<!-- END FOOTER -->
<script src="js/vendors.js"></script>
<script src="js/app.js"></script>
</body>
</html>
