<!-- @include ./partials/header.html -->
<div class="page error center-block">
   <div class="container-fluid">
      <div class='row'>
         <div class="error__paragraphe">
            <h2>toutes nos excuses</h2>
            <p class="upper-text col-md-6">la page que vous recherchez est introuvable</p>
            <a class="cta_light" href="" alt="">retourner au magasin</a>
         </div>
         <div class="error__img">
            <div class="img-container">
               <img src="../img/bougie.png" alt="" class="img-responsive down" width="60px">
               <img src="../img/bougie.png" alt="" class="img-responsive" width="100px">
            </div>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->













<!--
<div class="page compte">
<div class="container-fluid">
<div class="error center-block">
<div class="error_side">
<h2>toutes nos excuses</h2>
<p class="upper-text">la page que vous recherchez est introuvable</p>
<a href="" alt="">retourner au magasin</a>
</div>
<div class="error_side">
<div class="img-container">
<img src="../img/bougie.png" alt="" class="img-responsive" width="60px">
<img src="../img/bougie.png" alt="" class="img-responsive" width="100px">
</div>
</div>
</div>
</div>
</div>
-->
