<!-- @include ./partials/header.html -->
<div class="page cgv">
   <div class="container-fluid">
      <h2>Conditions Génrales de Vente</h2>
      <div class="container-paragraphe">
         <a class="cta_light" href="" alt="">retour au magasin</a>
         <section class="article__main">
            <h3 class="title_article">article 1 : le site et sa présentation</h3>
            <p>En vertu de l'article de la loi du 21 Juin 2004 relatif à la confiance de l'activité numérique et le décret du 9 mai 2007 du registre du commerce, le site chemindecampagne.com a pour obligation de communiquer toutes les informations permettant d'identifier les éditeurs du site.</p>
            <p>Propriétaire du site et responsable du site :</p>
            <p>Le site est la propriété de : </p>
            <p>SAS COMPTOIR DÉCO </p>
            <p>1 rue Albert Einstein</p>
            <p>77480 BRAY-SUR-SEINE</p>
            <p>Tel : +33 1 64015981 </p>
            <p>N° siret : 814 650 255 00015</p>
            <p>N°TVA : FR 81 814650255</p>
            <p>Webmaster : GROUPE MELIORA</p>
         </section>

         <section class="article__main">
            <h3 class="title_article">Article 2 : CONDITIONS D'UTILISATION DU SITE ET LIMITE DE RESPONSABILITÉS</h3> 
            <p>COMPTOIR DÉCO se réserve la possibilité de modifier ou de faire évoluer à tout moment les présentes conditions d'utilisation du site. Nous demandons donc aux utilisateurs de s'y référer régulièrement. Lors  de périodes de maintenance, la société s'efforcera de prévenir l'utilisateur.</p>
            <p>Le client ayant passé commande sur chemindecampagne.com implique son adhésion sans restriction ni réserve à ces conditions.</p>
            <p>La société se réserve le droit de supprimer tous commentaires ou annotations diffamatoires, discriminatoires ou à caractère injurieux.</p>
            <p>COMPTOIR DÉCO n'est pas responsable d'éventuels endommagements de matériels techniques suite à l'utilisation du site.</p>
         </section>

         <section class="article__main">
            <h3 class="title_article">Article 3 : DÉSIGNATION DES PRODUITS</h3>
            <p>COMPTOIR DÉCO ne saurait être tenu pour responsable d'éventuelles erreurs dans les descriptions, formulations ou conseils d'utilisation des produits. Les photos et les graphismes n'ont pas de valeur contractuelle et ne peuvent remettre en cause une commande.</p>
            <p>Les produits peuvent avoir le ou les commentaires de clients ayant déjà acheté le produit.</p>
            <p>Tous les produits font l'objet d'un descriptif aussi précis que possible, cependant la société ne pourra être tenu responsable en cas d'inexactitudes ou omissions.</p>
         </section>

         <section class="article__main">
            <h3 class="title_article">Article 4 : PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS</h3>
            <p>COMPTOIR DÉCO est propriétaire des droits attachés à la marque commerciale CHEMIN DE CAMPAGNE.</p>
            <p>Toute utilisation de noms commerciaux, logos, textes, photos appartenant à la société feront l'objet de graves sanctions judiciaires.</p>
            <p>Toute reproduction totale ou partielle du site ainsi que la contrefaçon entrainera également des poursuites. Il a été réalisé à des fins privées et personnelles. Toute utilisation de celui-ci en public est proscrite.</p>
            <p>Tous les produits font l'objet d'un descriptif aussi précis que possible, cependant la société ne pourra être tenu responsable en cas d'inexactitudes ou omissions.</p>
         </section>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->