<!-- @include ./partials/header.html -->
<div class="page checkout">
   <div class="container-fluid">
      <form class="form" method="" action="#" class="form">
         <div class="row">
            <div class="col-md-5 center-block">
               <!-- informations -->
               <div id="checkout__informations">
                  <h2 class="ordered_1">informations du compte</h2>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Prénom *</span>
                        <input type="text" class="input" name="" id="" placeholder="vladimir">
                     </div>
                  </label>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Nom *</span>
                        <input type="text" class="input" name="" id="" placeholder="Jean">
                     </div>
                  </label>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Adresse mail *</span>
                        <input type="email" class="input input__error" name="" id="" placeholder="exemple@exemple.com">
                     </div>
                     <p class="input__error--text">adresse e-mail invalide</p>
                  </label>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Téléphone *</span>
                        <input type="number" class="input" name="" id="" placeholder="exemple@exemple.com">
                     </div>
                  </label>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Téléphone (fixe) *</span>
                        <input type="number" class="input" name="" id="" placeholder="exemple@exemple.com">
                     </div>
                  </label>
                  <label class="form__label">
                     <div class="form__label__content">
                        <span class="form__label-text">Mot de passe *</span>
                        <input type="password" class="input" name="" id="" placeholder="min. 8 caractères">
                     </div>
                  </label>
                  <label class="form__label">
                     <div class="input__custom input__custom--checkbox-side">
                        <label class="radios__label">
                           <input type="checkbox" name="news" />
                           <div class="radios__element"></div>
                           <span class="resp">Je souhaite recevoir des informations et des promotions sur les produits Fleurs des champs</span>
                        </label>
                     </div>
                  </label>
               </div>
               <!-- livraison -->
               <div id="checkout__livraison">
                  <h2 class="ordered_2">Livraison</h2>
                  <label class="form__label">
                     <div class="input__custom input__custom--radios-inline">
                        <label class="radios__label">
                           <input type="radio" name="liv" />
                           <div class="radios__element"></div>
                           <span class="resp">livraison à domicile</span>
                        </label>
                        <label class="radios__label">
                           <input type="radio" name="liv" />
                           <div class="radios__element"></div>
                           <span class="resp">retrait en boutique</span>
                        </label>
                     </div>
                  </label>
                  <div id="checkout__livraison__domicile">
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Adresse *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre adresse">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Code postal *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre code postal">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Ville *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre ville">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Région *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre région">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Pays *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre pays">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Complément d'adresse *</span>
                           <input type="textd" class="input" name="" id="" placeholder="infos complémentaires">
                        </div>
                     </label>
                  </div>
                  <div id="checkout__livraison__magasin">
                     <!-- livraison en magasin -->
                     <div class="form__label--magasin ">
                        <span class="form__label-text primary-text">fleur des champs vous accueille de 13h à 18h 7j/7.</span>
                        <div class="form__label">
                           <div class="form__label__content">
                              <span class="form__label-text">Adresse</span>
                              <span class="form__label-text--adresse">12 B place du Châtel</span>
                           </div>
                        </div>
                        <div class="form__label">
                           <div class="form__label__content">
                              <span class="form__label-text">Code Postal</span>
                              <span class="form__label-text--adresse">77160</span>
                           </div>
                        </div>
                        <div class="form__label">
                           <div class="form__label__content">
                              <span class="form__label-text">Ville</span>
                              <span class="form__label-text--adresse">Provins</span>
                           </div> 
                        </div>
                        <div class="form__label">
                           <div class="form__label__content">
                              <span class="form__label-text">Pays</span>
                              <span class="form__label-text--adresse">France</span>
                           </div>
                        </div>
                        <span class="form__label-text legend">Si vous souhaitez payer en espèce seulement au retrait  de votre commande, cochez la proposition ci-dessous.</span>
                        <label class="form__label select-input">
                           <div class="input__custom input__custom--radios">
                              <label class="radios__label">
                                 <input type="checkbox" name="pay" />
                                 <div class="radios__element"></div>
                                 <span class="resp">Paiement en espèce au retrait</span>
                              </label>
                           </div>
                        </label>
                     </div>
                  </div>
               </div>
               <!-- adresse de facturation -->
               <div id="checkout__facturation">
                  <label class="form__label">
                     <div class="input__custom input__custom--radios">
                        <label class="radios__label">
                           <input type="checkbox" name="fac" />
                           <div class="radios__element"></div>
                           <span class="resp">adresse de facturation différente de l'adresse de livraison</span>
                        </label>
                     </div>
                  </label>
                  <!-- ajout adresse de facturation -->
                  <div id="checkout__facturation__formulaire">
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Adresse *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre adresse">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Code postal *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre code postal">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Ville *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre ville">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Région *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre région">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Pays *</span>
                           <input type="text" class="input" name="" id="" placeholder="entrez votre pays">
                        </div>
                     </label>
                     <label class="form__label">
                        <div class="form__label__content">
                           <span class="form__label-text">Complément d'adresse *</span>
                           <input type="textd" class="input" name="" id="" placeholder="infos complémentaires">
                        </div>
                     </label>
                  </div>
               </div>
            </div>
            <!-- recapitulation de la commande -->
            <div class="col-md-5 center-block">
               <div class="card container-fluid">
                  <h3 class="card__intro">commande</h3>
                  <a href="#" alt="#" class="card__delete">modifier</a>
                  <div class="clear"></div>
                  <div class="card__table">
                     <div class="card__table__item">
                        <img src="#" alt="#" class="img-responsive produit__image">
                        <div class="produit__infos">
                           <p class="produit__infos__description">Chaise de jardin bistrot en fer pliable (bordeaux)</p>
                           <div class="produit__infos__control">
                              <p class="center-block"><span class="produit__infos__control__qnt">14</span>
                                 <span class="produit__infos__control__arrow"><i class="material-icons">keyboard_arrow_down</i></span></p>
                                 <span class="produit__infos__control__price">60€</span>
                           </div>
                        </div>
                     </div>
                     <div class="card__table__item">
                        <img src="#" alt="#" class="img-responsive produit__image">
                        <div class="produit__infos">
                           <p class="produit__infos__description">Chaise de jardin bistrot en fer pliable (bordeaux)</p>
                           <div class="produit__infos__control">
                              <p class="center-block"><span class="produit__infos__control__qnt">14</span>
                                 <span class="produit__infos__control__arrow"><i class="material-icons">keyboard_arrow_down</i></span>
                                    </p>
                                 <span class="produit__infos__control__price">60€</span>
                           </div>
                        </div>
                     </div>
                     <div class="card__table__item--total">
                        <span class="item">commande</span>
                        <span class="value">100€</span>
                     </div>
                     <div class="card__table__item--total">
                        <span class="item">frais de livraison</span>
                        <span class="value">-</span>
                     </div>
                     <div class="card__table__item--total">
                        <span class="item__total">prix total</span>
                        <span class="value">100€</span>
                     </div>  
                  </div>
                  <div class="row">
                     <div class="card__form__item">
                        <input type="text" name="" id="" class="input" placeholder="code promo">
                     </div>
                     <div class="card__form__item">
                        <button type="submit" class="button__primary">ENVOYER</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- @include ./partials/footer.html -->