<!-- @include ./partials/header.html -->
<div class="page compte">
   <div class="container-fluid">
      <div class="row">
         <div class="menu__compte">
            <p class="menu__header">Jean Vladimir</p>
            <ul class="compte-menu__menu">
               <li class="compte-menu__menu-li"><a href="" alt="">Mes infos</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes adresses de livraison</a></li>
               <li class="compte-menu__menu-li is-active"><a href="" alt="">Mes moyens de paiement</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes commandes</a></li>
            </ul>
         </div>
         <div class="form__container--center">
            <h2>mes moyens de paiement</h2>
            <form class="form" method="" action="" class="form">
               <table class="form__table--paiement">
                  <thead>
                     <th>Type</th>
                     <th>Numéros</th>
                     <th>Nom</th>
                     <th>Sélection</th>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <img src="" alt="" class="img-responsive">
                        </td>
                        <td>
                           <input type="number" class="input" name="" id="" placeholder="xxxx xxxx xxxx 7867">
                        </td>
                        <td>
                           <p>Jean Vladimir</p>
                        </td>
                        <td>
                           <label class="radios__label">
                              <input type="radio" name="pay" checked="checked"/>
                              <div class="radios__element"></div>
                           </label>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <img src="" alt="" class="img-responsive">
                        </td>
                        <td>
                           <input type="number" class="input" name="" id="" placeholder="xxxx xxxx xxxx 7867">
                        </td>
                        <td>
                           <p>Jean Vladimir</p>
                        </td>
                        <td>
                           <label class="radios__label">
                              <input type="radio" name="pay" checked="checked"/>
                              <div class="radios__element"></div>
                           </label>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <button type="submit" class="button__primary--out">valider</button>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->