<!-- @include ./partials/header.html -->
<div class="page compte">
   <div class="container-fluid">
      <div class="row">
         <nav class="menu__compte col-sm-6">
            <p class="menu__header">Jean Vladimir</p>
            <ul class="compte-menu__menu">
               <li class="compte-menu__menu-li"><a href="" alt="">Mes infos</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes adresses de livraison</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes moyens de paiement</a></li>
               <li class="compte-menu__menu-li is-active"><a href="" alt="">Mes commandes</a></li>
            </ul>
         </nav>
         <div class="main-block__commandes">
            <h2>mes commandes</h2>
            <div class="table-commandes">
               <div class="table-commandes__item--header">
                  <div class="item item_num">commande n°</div>
                  <div class="item date">date</div>
                  <div class="item statut">statut</div>
                  <div class="item expedition">date d'expédition</div>
                  <div class="item details">détails</div>
               </div>
               <div class="table-commandes__item">
                  <div class="item item_num">02488121038</div>
                  <div class="item date">30/08/2016</div>
                  <div class="item statut">Livrée le 01/09/2016</div>
                  <div class="item expedition">01/09/2016</div>
                  <div class="item details"><a href="">voir</a></div>
               </div>
               <div class="table-commandes__item">
                  <div class="item item_num">02488121038</div>
                  <div class="item date">30/08/2016</div>
                  <div class="item statut">Livrée</div>
                  <div class="item expedition">01/09/2016</div>
                  <div class="item details"><a href="">voir</a></div>
               </div>
               <div class="table-commandes__item">
                  <div class="item item_num">02488121038</div>
                  <div class="item date">30/08/2016</div>
                  <div class="item statut">Livrée</div>
                  <div class="item expedition">01/09/2016</div>
                  <div class="item details"><a href="">voir</a></div>
               </div>
               <div class="table-commandes__item">
                  <div class="item item_num">02488121038</div>
                  <div class="item date">30/08/2016</div>
                  <div class="item statut">Livrée</div>
                  <div class="item expedition">01/09/2016</div>
                  <div class="item details"><a href="">voir</a></div>
               </div>
               <div class="table-commandes__item--current">
                  <div class="item item_num">02488121038</div>
                  <div class="item date">30/08/2016</div>
                  <div class="item statut">en cours</div>
                  <div class="item expedition">01/09/2016</div>
                  <div class="item details"><a href="">voir</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->