<!-- @include ./partials/header.html -->
<div class="page compte">
   <div class="container-fluid">
      <div class="center-block window__monCompte">
         <div class="sticker__window sticker__window--compte1">
            <img src="../img/1-f.png" class="img-responsive" alt=""> 
         </div>
         <div class="sticker__window sticker__window--compte2">
            <img src="../img/1-f.png" class="img-responsive" alt=""> 
         </div>
         <div class="container row">
            <div class="col-md-6">
               <h2 class="h2-label">connectez-vous !</h2>
               <form class="form form__connect-form">
                  <input class="input" type="email" name="email" placeholder="entrez votre adresse mail">
                  <input class="input" type="password" name="password" placeholder="entrez votre mot de passe">
                  <p class="input__error--text">Adresse mail ou mot de passe incorrect</p>
                  <a class="forget" href="" alt="">vous avez oublié votre mot de passe ?</a>
                  <button type="submit" class="button__primary">connexion</button>
               </form>
            </div>
            <div class="col-md-6">
               <h2 class="h2-label">pas encore de compte</h2>
               <button type="submit" class="button__primary">connexion</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->