<!-- @include ./partials/header.html -->
<div class="page compte">
   <div class="container">
      <div class="row">
         <nav class="menu__compte col-sm-6">
            <p class="menu__header">Jean Vladimir</p>
            <ul class="compte-menu__menu">
               <li class="compte-menu__menu-li is-active"><a href="" alt="">Mes infos</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes adresses de livraison</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes moyens de paiement</a></li>
               <li class="compte-menu__menu-li"><a href="" alt="">Mes commandes</a></li>
            </ul>
         </nav>
         <div class="form__container col-md-6 col-sm-6">
            <h2>mes infos</h2>
            <form class="form" method="" action="" class="form">
               <label class="form__label">
                  <span class="form__label-text">Civilité *</span>
                  <div class="input__custom input__custom--radios">
                     <label class="radios__label">
                        <input type="radio" name="civ" checked="checked"/>
                        <div class="radios__element"></div>
                        <span>Mlle</span>
                     </label>
                     <label class="radios__label">
                        <input type="radio" name="civ"/>
                        <div class="radios__element"></div>
                        <span>Mme</span>
                     </label>
                     <label class="radios__label">
                        <input type="radio" name="civ"/>
                        <div class="radios__element"></div>
                        <span>M.</span>
                     </label>

                  </div>
               </label>
               <label class="form__label form__label--primary">
                  <span class="form__label-text">Nom *</span>
                  <input type="text" class="input input--primary" name="" id="" placeholder="vladimir">
               </label>
               <label class="form__label">
                  <span class="form__label-text">Prénom *</span>
                  <input type="text" class="input" name="" id="" placeholder="Jean">
               </label>
               <label class="form__label">
                  <span class="form__label-text">Date de naissance *</span>
                  <input type="date" class="input" name="" id="" placeholder="">
               </label>
               <label class="form__label">
                  <span class="form__label-text">Adresse mail *</span>
                  <input type="email" class="input" name="" id="" placeholder="exemple@exemple.com">
               </label>
               <label class="form__label">
                  <span class="form__label-text">Mot de passe *</span>
                  <input type="password" class="input" name="" id="" placeholder="min. 8 caractères">
               </label>
               <button type="submit" class="button__primary--out">valider</button>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->