<!-- @include ./partials/header.html -->
<div class="page compte">
   <div class="container-fluid">
      <div class="center-block window__monCompte">
         <div class="sticker__window sticker__window--compte1">
            <img src="../img/1-f.png" class="img-responsive" alt=""> 
         </div>
         <div class="sticker__window sticker__window--compte2">
            <img src="../img/1-f.png" class="img-responsive" alt=""> 
         </div>
         <div class="container">
            <div class="col-md-4 col-sm-8 col-xs-12 center-block">
               <h2 class="h2-label">M'identifier</h2>
               <p class="subtitle__form">vous avez oublié votre mot de passe ?</p>
               <p class="subtitle__light-text">Entrez votre adresse mail et vous recevrez un message pour changer votre mot de passe.</p>
               <form action="" method="" class="form">
                  <input class="input" name="" id="" placeholder="Entrez votre adresse mail *">
                  <button type="submit" class="button__primary">envoyer</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->