<!-- @include ./partials/header.html -->
<div class="page contact">
   <div class="container-fluid">
      <div class="center-block window__monCompte--contact">
         <div class="container-fluid">
            <div class="sticker__window sticker__window--compte1">
               <img src="../img/1-f.png" class="img-responsive" alt=""> 
            </div>
            <div class="sticker__window sticker__window--compte2">
               <img src="../img/1-f.png" class="img-responsive" alt=""> 
            </div>
            <div class="form__container--center col-sm-8 col-xs-12 center-block">
               <h2 class="h2-label">votre message</h2>
               <p class="subtitle__form">besoin d'un renseignement, une question ?</p>
               <p class="subtitle__light-text">N’hésitez pas à nous contacter, nous sommes à votre écoute et ferons tout pour vous répondre le plus rapidement possible</p>
               <form class="form" action="" method="">
                  <input type="text" class="input" name="" id="" placeholder="Entrez votre prénom">
                  <input type="text" class="input" name="" id="" placeholder="Entrez votre nom">
                  <input type="email" class="input" name="" id="" placeholder="Entrez votre adresse mail">
                  <input type="number" class="input" name="" id="" placeholder="Entrez votre numéro de téléphone">
                  <textarea class="textarea" name="" id="" placeholder="Entrez votre message"></textarea>
                  <button type="submit" class="button__primary">envoyer</button>
               </form>
            </div>   
         </div>
      </div>
   </div>
</div>
<!-- @include ./partials/footer.html -->