<!-- @include ./partials/header.html -->

<div class="page home">
   <div class="container">
      <section class="top-header">
         <h1 class="top-header__h1">le charme de la campagne directement chez vous</h1>
         <img src="img/landhaus-veranda-3-55098f6a8e2f7.png" alt="" title="" class="item_slick__productImage img-responsive">
      </section>
      <div class="sticker">
         <div class='sticker__flower'>
            <div class="item__flower--nouveaute"></div>
         </div>
      </div>
      <section class="nouveautes">
         <span class="primary-title ">nouveautés</span>
         <section class="slick_div">
            <div class="slick-item">
               <img src="img/cheminee.jpg" alt="" title="" class="item-slick__productImage img-responsive">
               <div class="item-description">
                  <p>cadre entourage manteau façade de cheminée en bois</p>
                  <p class="item-price">189€</p>
               </div>
            </div>

            <div class="slick-item">
               <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" title="" class="item-slick__productImage img-responsive">
               <div class="item-description">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="item-price">119€</p>
               </div>
            </div>

            <div class="slick-item">
               <img src="img/miroir-psyche-a-poser-sur-pied-en-fonte-d-aluminium-30-cm.png" alt="" title="" class="item-slick__productImage img-responsive">
               <div class="item-description">
                  <p>Miroir psyché à poser sur pied  en fonte d’aluminium </p>
                  <p class="item-price">29€50</p>
               </div>
            </div>
         </section>
      </section>
   </div>
   <div class="container--inverse">
      <section class="discover">
         <div class="container">
            <div class="content">
               <div class="images">
                  <img src="img/buffet_bahut.png" alt="" title="" class="img-responsive images__item--giant">
               </div>
               <div class="description">
                  <span class="primary-title ">exclusivité</span>
                  <p class="item-description-paragraphe">buffet bahut console enfilade meuble cuisine à roulettes bois fer</p>
                  <p class="item-price">690€</p>
                  <a class="cta-primary" href="">découvrir</a>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="container">
      <div class="sticker">
         <div class='sticker__flower'>
            <div class="item__flower--exclusivite"></div>
         </div>
      </div>
      <div class="sticker">
         <div class='sticker__flower'>
            <div class="item__flower--cta"></div>
         </div>
      </div>
      <section class="img-cta">
         <div class="col-md-6">
            <a href="" alt="">
               <div class="img-cta__item">
                  <img src="img/label1.png" alt="" title="" class="img-responsive img-cta__item--main">
                  <h2 class="label-cta">intérieur cosy</h2>
               </div>
            </a>
         </div>
         <div class="col-md-6">
            <a href="" alt="">
               <div class="img-cta__item">
                  <img src="img/label2.png" alt="" title="" class="img-responsive img-cta__item--second">
                  <h2 class="label-cta">jardin au top</h2>
               </div>
            </a>
            <a href="" alt="">
               <div class="img-cta__item">
                  <img src="img/label3.png" alt="" title="" class="img-responsive img-cta__item--second">
                  <h2 class="label-cta">cuisine élégante</h2>
               </div>
            </a>
         </div>
      </section>
   </div>
   <section class="discover--inverse">
      <div class="container">
         <div class="sticker">
            <div class='sticker__flower'>
               <div class="container">
                  <div class="item__flower--discoverInverse"></div>
               </div>
            </div>
         </div>
         <div class="content">
            <div class="images">
               <img src="img/clock.png" alt="" title="" class="img-responsive images__item--small">
               <img src="img/miroir.png" alt="" title="" class="img-responsive images__item--primary">
               <img src="img/console_bahut.png" alt="" title="" class="img-responsive images__item--small">
            </div>
            <div class="description">
               <span class="primary-title ">meilleures ventes</span>
               <p class="item-description-paragraphe">n'attendez plus pour découvrir nos produits phares de la saison qui sauront donner du charme à votre intérieur</p>
               <p class="item-price">690€</p>
               <a class="cta-primary" href="">découvrir</a>
            </div>
         </div>
      </div>
   </section>
   <div class="container">
      <section class="presentation">
         <div class="sticker">
            <div class='sticker__flower'>
               <div class="container">
                  <div class="item__flower--presentation"></div>
               </div>
            </div>
         </div>
         <div class="row row__align">
            <div class="presentation__item">
               <div class="presentation__description">
                  <h2 class="primary-title ">chemin de campagne</h2>
                  <p class="paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               </div>
            </div>
            <div class="presentation__item">
               <img src="img/cave.png" alt="" title="" class="img-responsive">
            </div>
         </div>
      </section>
      <section class="newsletter home__newsletter">
         <div class="sticker">
            <div class='sticker__flower'>
               <div class="container">
                  <div class="item__flower--newsletter"></div>
               </div>
            </div>
         </div>
         <span class="primary-title ">newsletter</span>
         <p class="subtitle__light-text">pour bénéficier de nouveautés et d'offres exceptionnelles, inscrivrz-vous sans plus attendre</p>
         <form action="" method="" name="" class="form_newsletter form">
            <input class="input" type="email" name="" placeholder="entrez votre adresse mail">
            <button class="newsletter-button" type="submit"><i class="material-icons">arrow_forward</i></button>
         </form>
      </section>
   </div>
</div>


<!-- @include ./partials/footer.html -->