<!-- @include ./partials/header.html -->

<div class="page mentions">
   <div class="container-fluid">
      <h2>mentions légales</h2>
      <div class="container-paragraphe">
         <a class="cta_light" href="" alt="">retour au magasin</a>
         <section class="article__main">
            <p>Lors d'une commande, le paiement est possible par Paypal, par chèque et par virement. Un rappel est envoyé au bout de 10 jours.
               Si vous choisissez de retirer l'article à l'entrepôt, le paiement se fait sur place par chèque.
               Tout envoi, qu'il soit par la Poste ou par France Express, comporte une assurance.
               Les colis <strong>DOIVENT OBLIGATOIREMENT ÊTRE OUVERTS</strong> ET VÉRIFIÉS devant le livreur ou l'agent de la Poste afin de pouvoir refuser le colis et de noter sur le bon de livraison la mention : "Refusé, article cassé, colis endommagé"
               SANS MENTION ET REFUS DU COLIS, NOUS NE POURRONS ÊTRE TENUS  RESPONSABLES
               Vous disposez d'un délai de 7 jours ouvrés à réception du ou des article(s), pour renvoyer les-dits colis en bon état, dans leur emballage d’origine. çVous serez remboursé du montant d'achat et des frais de port ALLER, à réception du colis. Les frais de retour restent à votre charge.
               <strong>NOTEZ QUE VOUS VOUS ENGAGEZ A RESPECTER CES CONDITIONS POUR TOUTE COMMANDE PASSÉE DANS NOTRE BOUTIQUE</strong></p>
         </section>
      </div>
   </div>
</div>

<!-- @include ./partials/footer.html -->