<!-- @include ./partials/header.html -->
<div class="page multiproduct">
   <div class="container-fluid">
      <nav class="top-nav">
         <ul>
            <li><a href="#" alt="#"><i class="material-icons">store</i></a></li>
            <li><a href="#" alt="#">><span> jardin</span></a></li>
            <li class="is-active"><a href="#" alt="#">> <span>mobilier de jardin</span></a></li>
         </ul>
      </nav>

      <div class="top-header__multiproduct--empty">
         <h1 class="top-header__title">mobilier de jardin</h1>
      </div>
      <p class="top-header__description">tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      <hr class="green-line">
      <div class="row">
         <section class="menu__filter col-md-2">
            <div class="menu__filter--cat">
               <p class="menu__filter__primary-title">afficher les résultats pour :</p>
               <nav class="menu__filter__nav">
                  <p class="menu__filter__nav__title">mobilier de jardin</p>
                  <!-- /!\ remplacer checkbox par radio si valeur unique -->
                  <ul>
                     <li><a href="" alt="" class="resp is-active">salons et jardins</a></li>
                     <li><a href="" alt="" class="resp">salons et jardins</a></li>
                     <li><a href="" alt="" class="resp">salons et jardins</a></li>
                     <li><a href="" alt="" class="resp">salons et jardins</a></li>
                     <li><a href="" alt="" class="resp">salons et jardins</a></li>
                     <li><a href="" alt="" class="resp">salons et jardins</a></li>
                  </ul>
               </nav>
            </div>
            <hr clas="">
            <div class="menu__filter--list">
               <form method="" action="">
                  <div class="menu__filter__context">
                     <p class="menu__filter__secondary-title">filtrer par <span><i class="material-icons">keyboard_arrow_down</i></span></p>
                     <p class="menu__filter__secondary-title menu__filter__secondary-title--price">trier par : prix</p>
                  </div>
                  <div class="filters">
                     <nav class="menu__filter__nav">
                        <p class="menu__filter__nav__title">couleurs</p>
                        <ul>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">blanc</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">marron</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">gris</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">blanc</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">marron</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="col" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">gris</span>
                              </label>
                           </li>
                        </ul>
                     </nav>
                     <nav class="menu__filter__nav">
                        <p class="menu__filter__nav__title">matériaux</p>
                        <ul>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">verre</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">bois</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">fer</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">verre</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">bois</span>
                              </label>
                           </li>
                           <li>
                              <label class="radios__label--filter">
                                 <input type="checkbox" name="mat" />
                                 <div class="radios__element--product"></div>
                                 <span class="resp filterTag">fer</span>
                              </label>
                           </li>
                        </ul>
                     </nav>
                     <button type="submit" class="button__primary">valider</button>
                  </div>
               </form>
            </div>
         </section>
         <section class="panel col-md-10">
            <div class="panel__pagination">
               <p>40 produits</p>
               <p>Prix <span class="rotate9"><</span></p>
            </div>
            <div class="container-fluid row-wrap">
               <div class="product--apercu product--apercu--hover">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu product--apercu--promo">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price--promo"><del>119€</del>89€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>

               <div class="product--apercu">
                  <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
                  <p>Salon de jardin bistrot chaise table  de jardin en fer pliable</p>
                  <p class="product--apercu__price">119€</p>
                  <a class="button__primary ">ajouter au panier</a>
               </div>
            </div>
            <div class="panel__pagination--bottom">
               <ul>
                  <li class="is-active"><a href="" alt="">1</a></li>
                  <li><a href="" alt="">2</a></li>
                  <li><a href="" alt="">3</a></li>
                  <li><a href="" alt="">4</a></li>
                  <li><a href="" alt="">...</a></li>
               </ul>
            </div>
         </section>
      </div>
      <hr class="green-line">
      <section class="product__categorieDescription">
         <h3>MOBILIER DE JARDIN</h3>
         <h4>Découvrez nos différents salons de jardin, faits pour vous et toute votre famille.</h4>
         <p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. »</p>
      </section>
      <section class="newsletter home__newsletter">
         <div class="sticker">
            <div class='sticker__flower'>
               <div class="container">
                  <div class="item__flower--newsletter"></div>
               </div>
            </div>
         </div>
         <div class="col-md-6 center-block">
            <span class="primary-title ">newsletter</span>
            <p class="subtitle__light-text">pour bénéficier de nouveautés et d'offres exceptionnelles, inscrivrz-vous sans plus attendre</p>
            <form action="" method="" name="" class="form_newsletter form">
               <input class="input" type="email" name="" placeholder="entrez votre adresse mail">
               <button class="newsletter-button" type="submit"></button>
            </form>
         </div>
      </section>

   </div>
</div>
<!-- @include ./partials/footer.html -->
