<!-- @include ./partials/header.html -->
<div class="page product">
   <div class="container-fluid">
      <nav class="top-nav">
         <ul>
            <li><a href="#" alt="#"><i class="material-icons">store</i></a></li>
            <li><a href="#" alt="#"><i class="material-icons">keyboard_arrow_right</i><span> jardin</span></a></li>
            <li class="is-active"><a href="#" alt="#"><i class="material-icons">keyboard_arrow_right</i> <span>mobilier de jardin</span></a></li>
         </ul>
      </nav>
      <div class="product">
         <div class="item__product">
            <div class="item__slider">
               <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
               <ul class="item__slider__thumbs">
                  <li><img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive"></li>
                  <li><img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class=""></li>
                  <li><img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class=""></li>
                  <li><img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class=""></li>
               </ul> 
            </div>
            <div class="item__description">
               <h1>Table 2 chaises de jardin en fer pliable salon de jardin bistrot vert</h1>
               <p class="item__description__price--compare">Prix conseillé / Prix constaté  <span> 139€</span></p>
               <p class="product--apercu__price">119€</p>
               <p class="product--apercu__price--promo"><del>200€</del>119€</p>
               <p>ou payez en 3x sans frais 39,67€ par mois</p>
               <div class="item__description__order">
                  <form method="" action="">
                     <label>
                        <div class="quantity__input">
                           <input class="input__number" type="number" value="1" name="" id="">
                        </div>
                        <p class="statut">en stock</p>
                     </label>
                     <button type="submit" class="button__primary">ajouter au panier</button>
                  </form>
               </div>
               <p class="item__description__description">Très bel ensemble de chaise table bistrot.</br>Existe en 2 couleurs, vert anis et vieux bordeaux. Légèrement gratté pour un côté ancien, ce salon ensemble de jardin est pliable, le rendant facile à ranger. Chaise table de jardin en fer métal.</p>
               <!--<hr class="green-line">-->
               <div class="item__description__arguments">
                  <ul class="arguments__list">
                     <li><i class="material-icons">check</i> livraison et retours gratuits</li>
                     <li><i class="material-icons">check</i> <i class="material-icons">credit_card</i> paiement sécurisé</li>
                     <li><i class="material-icons">check</i> service client : 06 40 41 59 81</li>
                  </ul>
               </div>
            </div>
         </div>
         <h2 class="product_primary">fiche technique</h2>
         <ul class="item__fiche-technique">
            <li><p>Hauteur chaise: 88 cm.</p><p>Poids : 15.35</p></li>
            <li><p>Longueur chaise: 42 cm.</p><p>Largeur	Chaise : 40 cm</p></li>
            <li><p>Diamètre Table : 59 cm</p><p>Hauteur Table : 70 cm</p></li>
            <li><p>Couleur : Bordeaux </p><p>Matière : Fer</p></li>
         </ul>
         <hr class="green-line">
      </div>
      <h2 class="product_primary">Autres produits similaires</h2>
      <div class="slick-div item__slick container-fluid row">
         <div class="product--thumb--slick">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--slick">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--slick">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--slick">
            <img src="img/table-4-chaises-de-jardin-en-fer-pliable-salon-de-jardin-bistrot-vert.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
      </div>
      <h2 class="product_primary">Vous avez récemment consulté…</h2>
      <div class="slick-div item__slick container-fluid row">
         <div class="product--thumb--suggest">
            <img src="img/table-4-chaises-de-jardin-en-fer-pliable-salon-de-jardin-bistrot-vert.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price--promo"><del>300€</del>249€</p>
         </div>
         <div class="product--thumb--suggest">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--suggest">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--suggest">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
         <div class="product--thumb--suggest">
            <img src="img/salon-de-jardin-bistrot-chaise-table-de-jardin-en-fer-pliable.png" alt="" class="img-responsive">
            <p>Table 4 chaises de jardin </p>
            <p class="product--apercu__price">249€</p>
         </div>
      </div>
      
      <section class="newsletter home__newsletter">
         <div class="sticker">
            <div class='sticker__flower'>
               <div class="container">
                  <div class="item__flower--newsletter"></div>
               </div>
            </div>
         </div>
         <div class="col-md-6 center-block">
            <span class="primary-title ">newsletter</span>
            <p class="subtitle__light-text">pour bénéficier de nouveautés et d'offres exceptionnelles, inscrivrz-vous sans plus attendre</p>
            <form action="" method="" name="" class="form_newsletter form">
               <input class="input" type="email" name="" placeholder="entrez votre adresse mail">
               <button class="newsletter-button" type="submit"></button>
            </form>
         </div>
      </section>
   </div>
</div>
<!-- @include ./partials/footer.html -->